@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@300&family=Lobster&family=Source+Serif+Pro:wght@300&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  min-height: 100vh;
  width: 100%;
  background-image: url(frozen.jpeg);
  background-position: center;
  background-size: cover;
}

.animate img {
  width: 100px;
  height: 100px;
  animation: animate 7s alternate-reverse infinite;
}

.animate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.animate2 img {
  width: 50px;
  height: 50px;
  animation: animate 7s linear infinite;
}

.animate2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

@keyframes animate2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.welcome {
  margin-top: 100px;
    color: black;
  font-size: 70px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lobster", cursive;
}

h2 {
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Crimson Text', 'Josefin Sans';
  color: black;
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer p {
  margin-bottom: 25px;
  margin-top: 700px;
  font-weight: 600;
  color: white;
}

.characterPage {
  font-family: 'Poppins';
  position: relative;
  margin:32px;
  color: #fff;;
  font-size:1.2em;
  font-weight: 500;
  display:inline-block;
  margin-top:50px;
  padding:8px 20px;
  background:rgb(13,6,77);
  color:#fff;
  border-radius:40px;
  font-weight:500;
  letter-spacing:1px;
  text-decoration:none;
}

.characterPage:hover {
  transform:scale(1.1,1.1)
}