@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@300&family=Lobster&family=Source+Serif+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  min-height: 100vh;
  width: 100%;
  background-image: url(frozen.jpeg);
  background-position: center;
  background-size: cover;
}

.animate img {
  width: 100px;
  height: 100px;
  animation: animate 7s alternate-reverse infinite;
}

.animate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.animate2 img {
  width: 50px;
  height: 50px;
  animation: animate 7s linear infinite;
}

.animate2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

@keyframes animate2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.welcome {
  font-family: 'Crimson Text', 'Josefin Sans';
  color: white;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer p {
  margin-bottom: 25px;
  margin-top: 700px;
  font-weight: 600;
  color: white;
}
