@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: rgb(13, 6, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 7vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.site-title {
  margin-left: 50px;
}

img {
  width: 150px;
  height: 100px;
}

.menu-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: rgb(223, 213, 213);
  text-decoration: none;
  font-size: 30px;

  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: rgb(13, 6, 77);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.navbar a:hover {
  width: 100px;
}

.navbar a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, #c44d96, #b700ff);
  opacity: 0;
  transition: 0.5s;
}

.navbar a:hover::before {
  opacity: 0.2;
}

.navbar a::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  transition: 0.5s;
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
}

.navbar a:hover::after {
  opacity: 0.5s;
}

.navbar a AiOutlineHome {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.navbar a:hover AiOutlineHome {
  transform: scale(0);
  color: rgb(127, 0, 153);
  transition-delay: 0s;
}

.navbar a.title {
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.navbar a:hover.title {
  transform: scale(1);
  transition-delay: 0.25s;
}
