* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  /* background-color: #220066; */
  background-image: linear-gradient(rgba(138, 0, 131, 0.7), rgba(53, 2, 44, 0.7)),
    url(frozen.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 7vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.site-title {
  font-size: 2rem;
}

img {
  width: 150px;
  height: 100px;
}

.menu-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.navbar li:hover {
  background-color: #777;
}

.navbar li:active {
  background-color: #555;
}
